.heading
{
    font-size:30px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px gray;
}
.NOTE
{
    font-size:15px;
    color: black;
}
.footer
{
    position:fixed;
    color:rgb(255, 196, 2);
    bottom:0;
    width:100%;
    background-color:rgb(61, 59, 59);
    line-height: 60px ;
    text-align:center;
    font-size: 30px ;
}
canvas
{
    border:5px solid white;
    border-radius :30px;
    box-shadow:5px 5px 5px gray;
}  
body
{
    background-size:cover;
}